/* ==========================================
   Navbar
========================================== */

.navbar{

    width:100%;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:22px 8%;

    position:sticky;

    top:0;

    z-index:999;

    backdrop-filter:blur(20px);

    background:rgba(15,23,42,.75);

    border-bottom:1px solid rgba(255,255,255,.08);

}

.logo{

    font-size:24px;

    font-weight:700;

    color:#38bdf8;

}

.navbar ul{

    display:flex;

    gap:35px;

    list-style:none;

}

.navbar a{

    color:white;

    text-decoration:none;

    font-weight:500;

    transition:.3s;

}

.navbar a:hover{

    color:#38bdf8;

}